In [2]:
import pandas as pd
missing_values = ["n/a", "na", "--"]
df = pd.read_csv('clean-data.csv', na_values = missing_values)
print (df['NUM_BEDROOMS'])
print (df['NUM_BEDROOMS'].isnull())

0    3.0
1    3.0
2    NaN
3    1.0
4    3.0
5    NaN
6    2.0
7    1.0
8    NaN
Name: NUM_BEDROOMS, dtype: float64
0    False
1    False
2     True
3    False
4    False
5     True
6    False
7    False
8     True
Name: NUM_BEDROOMS, dtype: bool

In [7]:
import pandas as pd
df = pd.read_csv('clean-data.csv')
new_df = df.dropna()
print(new_df.to_string())
new_df2=df.fillna('unknown')
print(new_df2.to_string())
new_df3=df['PID'].fillna('unknown')
print(new_df3.to_string())

           PID  ST_NUM    ST_NAME OWN_OCCUPIED NUM_BEDROOMS NUM_BATH SQ_FT
0  100001000.0   104.0     PUTNAM            Y            3        1  1000
1  100002000.0   197.0  LEXINGTON            N            3      1.5    --
8  100009000.0   215.0    TREMONT            Y           na        2  1800
           PID   ST_NUM     ST_NAME OWN_OCCUPIED NUM_BEDROOMS NUM_BATH    SQ_FT
0  1.00001e+08      104      PUTNAM            Y            3        1     1000
1  1.00002e+08      197   LEXINGTON            N            3      1.5       --
2  1.00003e+08  unknown   LEXINGTON            N      unknown        1      850
3  1.00004e+08      201    BERKELEY           12            1  unknown      700
4      unknown      203    BERKELEY            Y            3        2     1600
5  1.00006e+08      207    BERKELEY            Y      unknown        1      800
6  1.00007e+08  unknown  WASHINGTON      unknown            2   HURLEY      950
7  1.00008e+08      213     TREMONT            Y            1        1  unknown
8  1.00009e+08      215     TREMONT            Y           na        2     1800
0    1.00001e+08
1    1.00002e+08
2    1.00003e+08
3    1.00004e+08
4        unknown
5    1.00006e+08
6    1.00007e+08
7    1.00008e+08
8    1.00009e+08

In [14]:
import pandas as pd
df = pd.read_csv('clean-data.csv')
x = df["ST_NUM"].mean()
df["ST_NUM"].fillna(x,inplace=True)
print(df.to_string())

           PID      ST_NUM     ST_NAME OWN_OCCUPIED NUM_BEDROOMS NUM_BATH SQ_FT
0  100001000.0  104.000000      PUTNAM            Y            3        1  1000
1  100002000.0  197.000000   LEXINGTON            N            3      1.5    --
2  100003000.0  191.428571   LEXINGTON            N          NaN        1   850
3  100004000.0  201.000000    BERKELEY           12            1      NaN   700
4          NaN  203.000000    BERKELEY            Y            3        2  1600
5  100006000.0  207.000000    BERKELEY            Y          NaN        1   800
6  100007000.0  191.428571  WASHINGTON          NaN            2   HURLEY   950
7  100008000.0  213.000000     TREMONT            Y            1        1   NaN
8  100009000.0  215.000000     TREMONT            Y           na        2  1800

In [17]:
import pandas as pd
# 第三个日期格式错误
data = {
  "Date": ['2020/12/01', '2020/12/02' , '20201226'],
  "duration": [50, 40, 45]
}
person = {
  "name": ['Google', 'Runoob' , 'Taobao'],
  "age": [50, 200, 12345]    
}
df1 = pd.DataFrame(data, index = ["day1", "day2", "day3"])
df1['Date'] = pd.to_datetime(df['Date'])
print(df.to_string())
df2 = pd.DataFrame(person)
for x in df2.index:
  if df2.loc[x, "age"] > 100:
    df2.loc[x, "age"] = 100
print(df2.to_string())

           Date  duration
day1 2020-12-01        50
day2 2020-12-02        40
day3 2020-12-26        45
     name  age
0  Google   50
1  Runoob  100
2  Taobao  100

In [18]:
import pandas as pd
persons = {
  "name": ['Google', 'Runoob', 'Runoob', 'Taobao'],
  "age": [50, 40, 40, 23]  
}
df = pd.DataFrame(persons)
df.drop_duplicates(inplace = True)
print(df)

     name  age
0  Google   50
1  Runoob   40
3  Taobao   23